ec2win:            # this matches the driver name, e.g., dotnet, iis, etc. (what should it be)
  web:             # this is the name of the VM's role: web, app, etc.; we may have multiple although we need only one now
    driver_config_setting1: xxx
    driver_config_setting2: yyy
    encoder:
      name: nameval
      settings:
        BoolStringSettingA: 
          type: bool # Values are encoded to "True" or "False"
          default: 1
          unit: 'bool-str'
        BoolNumSettingB:
          type: range-int
          min: 0
          max: 1
          step: 1
          default: 0
          unit: 'bool-int'
        EnumSettingC: 
          type: enum
          values:
          - 'val1'
          - 'val2'
          - 'val3'
          default: 'val1'
          unit: 'val enum'
        RangeIntSettingD:
          type: range-int
          min: 1
          max: 64
          step: 1
          unit: 'threads'
          default: 8
        RangeMBSettingE:
          type: range-int
          min: 0.5
          max: 4
          scale: 1024
          unit: 'MB'
          default: 1
        RangeFloatSettingF:
          type: range-float
          min: 0
          max: 1
          step: 0.05
          default: 0.5
          unit: 'some-decimal'
